<html lang="en" ng-app="lyrric">

  <h1>Fact or Fiction?</h1>

  <div ng-controller="statementsController">
    {{username}}
    <h1> inside the loop <h1>
  </div>

<%= form_for @statement do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :tags %>
  <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
  <%= f.submit %>
<% end %>


<!--
<label>Name:</label>
     <input type="text" ng-model="yourName" placeholder="Enter a name here">
     <hr>
     <h1>Hello {{yourName}}!</h1> -->
